body {
    
    font-family: Arial, Helvetica, sans-serif;
}
form {
    width: 100%
}

form div{
    margin-bottom: 15px;
}

form input[type="text"],
form input[type="number"],
form input[type="email"],
form input[type="date"],
form select,
form textarea {
    width: 100%; 
    padding: 8px; 
    border: 1px solid #000000; 
    border-radius: 4px; 
    box-sizing: border-box;
}

form input[type="submit"] {
    background-color: #2e5a8b;
    color: rgb(201, 255, 131); 
    padding: 10px 15px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
}
